
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(43, 36, 36);
    margin: 0;
    font-weight: 300;
}
/* this container is used to control the box in which my home, about, work, and contact resides */

header {
    background-color: var(--colorway3);
    background-image: linear-gradient( var(--colorway3), purple);
    text-align: center;
    position: sticky;
    width: 100%;
    padding: 5%;
    z-index: 999;   
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
 
.container {
    display: flex;
    flex-wrap: wrap;

}

.nametag{
    font-size: 40px;

}

li {
    display: inline-block;
    
}

footer {
    background-color: var(--colorway3);
    background-image: linear-gradient( var(--colorway3), purple);
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0%;
    width: 100%;
    padding: 3%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

ul li {
   flex-wrap: wrap;
    margin-left: 50px;
    
}

.borderStuff {
    border: white;
    border-style: solid;
    padding: 20px;
    
}

.imageGallery {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction:inherit;
    max-width: 1000px;
}
img {
    /*justify-content: space-evenly; */
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 20px;
    transition: box-shadow 300ms;
    border-radius: 15px;
}
img:hover {
    box-shadow: 0 0 20px rgb(153, 7, 129);
}



p {
    font-size: 25px;
    
    
}


.AboutMe {
    display: flex;
    background: chartreuse;
    background-image: linear-gradient( lime, green, darkgreen);
    border-radius: 25px;

}
figure {
border-radius: 15px;
}

.titlecard {
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
}
article {
    display: flex;
    color: white;
    
    
}


section {
    /*margin-top: 600px; */
    display: flex;
}
#demo1 {
    /*margin-top: 600px; */
    display: flex;
    
    justify-content: center;
    
    /*position: relative; */
    /*justify-content: inherit; */
}
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.otherImage {
    display: flex;
    object-fit: cover;
    background-size: 500px;
    height: 500px;
    width: 500px;
    background-image: url("https://static7.depositphotos.com/1186701/742/i/950/depositphotos_7420841-stock-photo-3d-human-charcter-holding-number.jpg");
    margin-left: 25px;
    margin-top: 50px;
    border-radius: 25px;
}

.otherImage:hover {
    box-shadow: 0 0 20px rgb(153, 7, 129);
}
h2 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 25px;
}
/*
body > article {
    margin-top: 300px; I didn't need this part but I was trying to make the first article move down because my header was blocking it at one point, I honestly dont even know how I fixed it but this was not part of the solution
} */
@media (max-width:768px) {

    header{
       width: 100%;
    }
    .otherImage{
        width: 300px;
        /* so this ***kinda*** fixes the problem but for some reason the picture is off-centered on mobile */
    }
}